@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  // @include gradient;

  li {
    padding: 0 0.7rem;

    a {
      color: #231f20 !important;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
}
